{% extends 'student_base_content.html' %}
{% block student_content %}
<div class='container'>
    <div class='row'>
        <div class='col-6 offset-3'>
            <h1>Add children</h1>
            <form action = "{% url 'add_children' %}" method="post">
                {% csrf_token %}
                {% include 'partials/bootstrap_form.html' with form=form %}
                <input type="submit" value="Submit" class='btn btn-primary'>
            </form>
        </div>
    </div>
</div>
{% endblock %}
