{% extends 'admin_base_content.html' %}
{% block admin_content %}
<div class='container'>
    <div class='row'>
      <div class='col-10 offset-1'>
            <h1>Students Request Management</h1>
            <!--Makes the table that will display lessons.-->
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Term</th>
                  <th scope="col">Lessons</th>
                  <th scope="col">Interval</th>
                  <th scope="col">Duration</th>
                  <th scope="col">Info</th>
                  <th scope="col">Approved</th>
                </tr>
              </thead>
              <tbody>
                <div class="Lesson">
                  <!--For loop goes through every student
                  And adds it to the table.-->
                  {% for Lesson in admin_lessons %}
                    <tr>
                      {% if Lesson.children %}
                        <td>{{Lesson.children.first_name}} {{' '}} {{Lesson.children.last_name}}</td>
                      {% else %}
                        <td>{{Lesson.user.first_name}} {{' '}} {{Lesson.user.last_name}}</td>
                      {% endif %}
                      <td>{{Lesson.term.name}}</td>
                      <td>{{Lesson.lessons}}</td>
                      <td>{{Lesson.desiredInterval}}</td>
                      <td>{{Lesson.duration}}</td>
                      <td>{{Lesson.furtherInfo}}</td>

                      <!--Delete and edit button-->
                      {% if Lesson.is_confirmed %}
                      <td>Yes</td>
                      <th scope="col">
                        <a class="btn btn-primary btn-sm"
                        href="{% url 'edit-booking' Lesson.id %}"
                        role="button">Edit</a></th>
                      <th scope="col">
                        <a class="btn btn-secondary btn-sm"
                        href="{% url 'delete-booking' Lesson.id %}"
                        role="button">Delete</a>
                      </th>
                      {% else %}
                      <td>No</td>
                      <th scope="col">
                        <a class="btn btn-secondary btn-sm"
                        href="{% url 'book-lesson' Lesson.id %}"
                        role="button">Book</a>
                      <th scope="col">
                        <a class="btn btn-secondary btn-sm"
                        href="{% url 'reject-booking' Lesson.id %}"
                        role="button">Reject</a>
                      {% endif %}
                    </tr>
                  {% endfor%}
              </tbody>
          </table>
        </div>
    </div>
</div>
{% endblock %}
