{% extends 'student_base_content.html' %}
{% block student_content %}
<div class='container'>
    <div class='row'>
        <div class='col-sm-12 col-md-6 offset-md-3'>
            <form action="/confirm" method="get">
            <h1>Payment Page for student</h1>
            <br>
            <hr>
            <br>
            <label for="invoice"> <b>Enter the Invoice Number :</b> </label>
            <input type="number" name="invoice" ><br>
            <br>
            <hr>
            <input type="submit" value="Confirm">
        </div>
    </div>
</div>
{% endblock %}
