{% extends 'student_base_content.html' %}
{% block student_content %}
<div class='container'>
    <div class='row'>
        <div class='col-md-8 col-md-6 offset-md-2'>
            <h1>Student Payment Information</h1>
            <strong>Your balance:</strong>
            <p>{{student.outstanding_balance}}</p>
            <strong>Your payments:</strong>
            <!--Makes the table that will display payment-->
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Amount</th>
                  <th scope="col">Time</th>
                  <th scope="col">Balance before</th>
                  <th scope="col">Balance after</th>
                </tr>
              </thead>
              <tbody>
                <div class="Payment">
                  <!--For loop goes through every student
                  And adds it to the table.-->
                  {% for Payment in student_payment %}
                    <tr>
                      <td>{{Payment.amount_paid}}</td>
                      <td>{{Payment.payment_time}}</td>
                      <td>{{Payment.balance_before}}</td>
                      <td>{{Payment.balance_after}}</td>
                    </tr>
                  {% endfor%}
              </tbody>
          </table>
        </div>
    </div>
</div>
{% endblock %}
