{% extends 'teacher_base_content.html' %}
{% block teacher_content %}

<div class='container'>
    <div class='clearfix'>
        <div class='col-md-10 col-md-6 offset-md-1'>
            <h1>Teacher's timetable</h1>
            <p>
                <a class="btn btn-info left" href="{% url 'teacher_landing_page' %}?{{ prev_month }}"> Previous Month </a>
                <a class="btn btn-info right" href="{% url 'teacher_landing_page' %}?{{ next_month }}" style="float: right;"> Next Month </a>
            </p>
            {{calendar}}
        </div>
    </div>
</div>
{% endblock %}
